@import url("https://fonts.googleapis.com");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #0f172a;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: #1a253d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: dotted;
}

.navbar img {
  height: 50px;
  width: 50px;
}

.navbar h1 {
  font-size: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
}
.search input {
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  background: #0f172a;
  color: white;
}

.search button {
  border-radius: 50px;
  font-size: 20px;
  height: 40px;
  width: 50px;
}
.search {
  position: relative;
  display: flex;
}

.suggestions {
  position: absolute;
  top: 50px;
  width: 100%;
  background: #1a253d;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
  display: none;
  z-index: 100;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #0f172a;
}

.suggestion-item::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.trending {
  position: relative;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 5px;
}

.trending h2 {
  padding: 7px;
}

.trending hr {
  opacity: 0.2;
}

.trending-container {
  margin-top: 20px;
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  padding-right: 30px;
}

.trending-container::-webkit-scrollbar {
  display: none;
}

.trending-movie {
  text-align: center;
  min-width: 150px;
  flex-shrink: 0;
}

.trending-movie {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.trending-movie:hover {
  transform: scale(1.05);
}

.movie-image {
  width: 150px;
  height: 190px;
  border-radius: 20px;
  overflow: hidden; /* IMPORTANT */
}

.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* image stretch nahi hogi */
}

.slidebar {
  position: absolute;
  top: 55%; /* vertical center */
  transform: translateY(-50%);

  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 10;
}

/* Left arrow */
.slidebar:first-of-type {
  left: 5px;
}

/* Right arrow */
.slidebar:last-of-type {
  right: 10px;
}
.slidebar:hover {
  background: rgba(0, 0, 0, 0.9);
}
.results {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.your-search {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.your-search h2 {
  padding-bottom: 7px;
}
.your-search hr {
  opacity: 0.2;
}

.image-div {
  height: 500px;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.details {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 20px;
}

.info {
  height: 400px;
  width: 700px;
  flex: 1;
  padding: 25px;
  background: #1a253d;
  border-radius: 20px;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.rating {
  color: gold;
  font-weight: bold;
  margin-bottom: 15px;
}
.plot {
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 20px;
}
.extra {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.extra span {
  background: #0f172a;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
}

.extra {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.sub-info {
  display: flex;
  flex-direction: column; /* vertical stack */
  align-items: center; /* center horizontally */
  justify-content: center;
  text-align: center;
  background: #1a253d;
  padding: 10px 15px;
  border-radius: 12px;
}

.sub-info p {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.sub-info span {
  font-size: 16px;
  font-weight: bold;
}

.footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #1a253d;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer-img {
  height: 15px;
  width: 15px;
}

.footer-left-p {
  opacity: 0.6;
}
.footer-center {
  font-size: small;
  padding-right: 300px;
}

.footer-right i {
  color: aliceblue;
}
